@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&family=Red+Hat+Text:wght@500&display=swap');

.detail-container {
   display: flex;
   flex-direction: column;
   height: 1400px;
   padding: 10px;
}

.spot-name {
   font-size: 20px;
   font-weight: bolder;
}

.detail-top {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 10px;
   margin-left: 5px;
   height: 75px;
}

.detail-top-bottom {
   display: flex;
   align-items: center;
   gap: 20px;
   font-size: 15px;
   font-weight: bolder;
   font-weight:400;
}

.one-image-div img {
   border-radius: 25px;
   width: 60%;
   height: 50%;
}

img.one-image {
   object-fit: cover;
}

.bottom-container {
   display: flex;
   flex-direction: column;
   gap: 10px;
   border-bottom: 1px solid rgba(136, 136, 136, 0.4);
   margin-top: 10px;
}

.spot-owner {
   font-size: 25px;
   font-weight: bold;
   /* padding: 10px; */
}

.spot-description {
   margin-top: 10px;
   padding: 10px;
   color: grey;
}

.add-review {
   padding: 10px;
   text-decoration: underline;
}

.spot-reviews {
   padding: 10px;
}

span {
   color: grey;
}
