html {
   margin-left: 5vw;
   margin-right: 5vw;
}

.outer {
   display: flex;
   margin-left: 0;
}

.inner {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   padding: 5px;
}

.spots-card {
   display: flex;
   flex-direction: column;
   padding: 10px;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 220px;
   box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
   border-radius: 5px;
   margin-bottom: 2vh;
}

.spots-card:active {
   box-shadow: none;
}

img.spot-image {
   width: 200px;
   height: 200px;
   align-self: flex-start;
   border-radius: 10px;
   object-fit: cover;
}

.spot-image {
   display: flex;
   justify-content: center;
}

.one-image {
   width: 70%;
   object-fit: cover;
}

.one-image-div img {
   border-radius: 5%;
   width: 50%;
   height: 50%;
}

a {
   text-decoration: none;
   color: black;
}

p {
   font-size: 10px;
}
