/* nav {
   display: flex;
   justify-content: flex-end;
   margin-right: 40px;

}

ul {
   display: flex;
   flex-direction: column;
}

li {
   display: flex;
   flex-direction: column;
}

button {

} */
