@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

#root {
   box-sizing: border-box;
}

h1 {
   font-family: 'Cookie';
   font-size: 40px;
   color: white;
   text-shadow: -1px 0 #4b86b4, 0 2px #4b86b4, 1px 0 #4b86b4, 0 -1px #4b86b4
}

.nav-bar {
   display: flex;
   justify-content: center;
   /* border: 1px solid blue; */
   margin-bottom: 5px;
   justify-content: space-between;
   border-bottom: 1px solid #e2e2e2;
   height: auto;
   max-height: 70px;
}

div.nav-center {
   display: flex;
   align-items: center;
   align-content: center;
}

.logo {
   /* margin-top: 20px; */
   margin-right: 20px;
}

ul {
   list-style-type: none;
}

.nav-right {
   display: flex;
   justify-content: space-between;
   margin: 10px;
}

li#home-button {
   display: flex;
   background-color: white;

}

.profile-dropdown {
   position: absolute;
   right: 5px;
   top: 5px;
   background-color: white;
   width: 200px;
}

button.profile-button {
   background-color: white;
   border: none;
   cursor: pointer;
}

i.fa-solid {
   color: #4b86b4;
}
